<h1>Edit</h1>
    {{#errors}}
        {{success_msg}}
        {{error_msg}}
        {{error}}
        {{msg}}
    {{/errors}}
<form action="/user/edit" method="post">
    {{#profileData}}

    <label>Avatar</label><br>
    <input type="text" name="avatar"><br>
    <br>
    <label>Name</label><br>
    <input type="text" name="name" value={{name}}><br>
    <br>
    <label>Username</label><br>
    <input type="text" name="username" value={{username}} readonly><br>
    <br>
    <label>Job</label><br>
    <input type="text" name="job" value={{job}}><br>
    <br>
    <label>Company</label><br>
    <input type="text" name="company" value={{company}}><br>
    <br>
    <label>City</label><br>
    <input type="text" name="city" value={{city}}><br>
    <br>
    <label>Country</label><br>
    <input type="text" name="country" value={{country}}><br>
    <br>
    <label>Email</label><br>
    <input type="email" name="email" value={{email}}><br>
    <br>
    <label>Phone</label><br>
    <input type="text" name="phone" value={{phone}}><br>
    <br>
    <label>Education</label><br>
    <input type="text" name="university" value={{university}}><br>
    <br>
    <label>Skill 1</label><br>
    <input type="text" name="skill1" value={{skills.0}}><br>
    <br>
    <label>Skill 2</label><br>
    <input type="text" name="skill2" value={{skills.1}}><br>
    <br>
    <label>Skill 3</label><br>
    <input type="text" name="skill3" value={{skills.2}}><br>
    <br>
    {{/profileData}}
    <button type="submit">Submit</button>

</form>